body {
margin:0 auto;
padding:0;
font-family:arial;
}

main { padding:0 3em;}

header {
    padding:2em;
    text-align:center;

}
table {margin:5em auto;}

img {width:324px;}

.hide{
    visibility:hidden;
}

p {width:600px; }

ul{
    list-style: none;
    font-weight:bold;
}
footer{
    width:100%;
    display:flex;
    margin-top:2em;
    align-items:center;
    align-content: center;

    
}
textarea{
    width:600px;
    height:100px;
}
#message{
        text-align:center;
        margin:auto;
}
#address{
        justify-self: flex-start;

}
.center{
    justify-self: center;
}


.name{
    font-weight:bold;
    font-family:arial;
}
.card {
    display:flex;
    flex-direction:column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
    padding:1em;
}

.price {
color: grey;
font-size: 22px;
}

.card button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 400px;
font-size: 18px;
}

.card button:hover {
opacity: 0.7;
}